h1{
    font-size: 2.6rem;
}

div#content div{
    display: inline-block;
}

div#content div.leftbox{
    vertical-align: top;
    height: 250px;
    width: 225px;
    color: #5e7669;
    text-align: right;
    margin: 0rem;
}

div#content div.rightbox{
    height: 250px;
    width: 200px;
    color: black;

}

div#content div.leftbox1{
    vertical-align: top;
    height: 250px;
    width: 500px;
    text-align: center;
    margin: 0rem;  
    color: #5e7669; 
}

div#content div.rightbox1{
    vertical-align: top;
    height: 250px;
    width: 350px;
    text-align: center;
    margin: 0rem;  
    color: #5e7669; 
}




.main-head{
    background: #5e7669;
    color: white;
}



a{
    color: white;
    text-decoration: none;
}

nav{
    min-height: 10vh;
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
}



nav ul{
    display: flex;
    flex: 1 1 0rem;
    align-items: center;
    list-style: none;
    text-align: right;
}

#logo{
    flex: 3 1 40rem;
    margin: 20px;
}

li{
    text-align: center;
    margin-right: 30px;
}


h3{
    color: black;
}

img{
    margin: 50px;
}